<h2>Welcome! Sign up below:</h2>

<form method="post" action="/signup">
<p>
<input tpye="text" name="username" placeholder="Username: "><br>
<input type ="password" name="password" placeholder="Password: "><br>
<input type="text" name="email" placeholder="Email: "><br><br>
<input type="submit" value="Submit">

</p>
</form>

<p>Already a user? Click <a href="/login">here</a></p>