<h2>Create a new trip below:</h2>
<form action="/projects" method="post">
<div class="form">
<label>Name: </label><input type="text" name="name"><br>
<label>Location: </label><input type="text" name="location"><br>
<label>Date Visited: </label><input type="text" name="date_visited"><br>
<label>Rating (Max 10): </label><input type="number" name="rating" min="1" max="10"><br>
</div>
</form>

