<h2>Create a new trip below:</h2>
<form action="/projects" method="post">
<div class="form">
Name: <input type="text" name="name"><br>
Location: <input type="text" name="location"><br>
Date Visited: <input type="datetime-local" name="date_visited"><br>
Rating (Max 10): <input type="number" name="rating" min="1" max="10"><br>
<input type="submit" value="Submit">
</div>
</form>

