<h1>Here is everyone's current Hiking Adventures!</h1>
<br>
<%@projects.each do |key|%>
<h4><a href="/projects/<%=key.id%>"><%=key.name%></a></h4>
<%end%>
<br>
<br>
<form method="get" action="/projects/new">
<input type="submit" value="Create New Trip">
</form>
<br>
<br>
<form method="get" action="/logout">
<input type="submit" value="Log Out">
</form>
