<h2>Welcome to all of your Hiking Trips!<br> Past, present, and future.</h2>
<p>Please sign in or sign up below:</p>

<nav>
  <% if logged_in? %>

    <a href="/projects/new"> Create New Trip </a>
    <a href="/logout"> Log Out </a>
    <p>Welcome, <%=current_user.username %></p>

  <% else %>
    <a href="/signup">Sign Up </a>
    <a href="/login">Sign In </a>
  <%end %>

</nav>