<h2>Welcome to everyone's Hiking Trips!</h2><br>


<nav>
  <% if logged_in? %>
    <p>Greetings, <%=current_user.username %>!</p>
    <a href="/projects/new"> Create New Trip </a><br><br>
    <a href="/users/<%=current_user.slug%>"> Your Trips </a>
    <p><a href="/projects">See Everyone's Trips</a></p><br><br>
    <br><br><br>
    <form method="get" action="/logout">
    <input type="submit" value="Log Out">
    </form>
    

  <% else %>
    <p>Please sign in or sign up below:</p>
    <a href="/signup">Sign Up </a>
    <a href="/login">Sign In </a>
  <%end %>

  

</nav>