<h2>Welcome to all of your Hiking Trips!<br> Past, present, and future.</h2>


<nav>
  <% if logged_in? %>
    <p>Welcome, <%=current_user.username %>!</p>
    <a href="/projects/new"> Create New Trip </a><br><br>
    <a href="/users/<%=current_user.slug%>"> Your Trips </a><br><br>
    <br><br><br>
    <form method="get" action="/logout">
    <input type="submit" value="Log Out">
    </form>
    

  <% else %>
    <p>Please sign in or sign up below:</p>
    <a href="/signup">Sign Up </a>
    <a href="/login">Sign In </a>
  <%end %>

</nav>