
<!doctype html>
<html>
  <head>
    <title>Hiking Trips</title>
     <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    
    <div class="container">
      <h1>Hiking Trips</h1>
      <%= yield %>


    </div>
  </body>
</html>